#shot-title {
  text-align: center;
}

.alert-container {
  visibility: hidden;
}

.shotteru {
  text-align: center;
}

.show-row {
  width: 100%;
  display: block;
}

#lollygag {
  margin-top: 150px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.roulette-row li {
  font-size: 1.8em;
  padding: 10px;
}

.center-btn {
  display: flex;
  justify-content: space-between;
}

.btn-add {
  min-width: 300px;
  width: auto;
  font-size: 1.8em;
}

.name-container {
  margin: auto;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  min-height: 300px;
  height: auto;
  border: 1px solid gray;
  border-radius: 7px;
}

.name-container #namelist {
  display: flex;
  justify-content: space-around;
}

#namelist {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

#name {
  display: flex;
  justify-content: space-around;
}

#namelist #name {
  overflow: hidden;
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 10px
  line-height: 1.2em;
  border-bottom: 1px solid gray;
  float: left;
  display: inline;
  list-style: none;
}

#namelist #name:not(:first-child):not(:last-child) {
  margin-left: 5px;
  margin-right: 5px;
}

#namelist #name:first-child {
  margin-right: 5px;
}

#namelist #name:last-child {
  margin-left: 5px;

}
